html,
body,
.view {
    height: 100%;
}

.view {
    background: url("http://wallpapercraft.net/wp-content/uploads/2016/09/Desktop-Background-Full-Screen.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center {
    color: #fff;
}

#title {
    color: white;
    margin: 25px auto 0px auto;
    max-width: 800px;
    text-align: center;
}

.container-box {
    margin: 0px auto 0px auto;
    max-width: 800px;
    font-size: 16px;
}

#left-section {
    width: 80%;
    margin: 0px auto 200px auto;
    line-height: 50px;
}

#right-section {
    margin: 0px auto 250px auto;
    color: #fff;
}

#right-section .form-group .form-control {
    color: #fff;
}

/* Navigation bar*/
.navbar {
    font-weight: 300;
    background-color: #0275d8;
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ff8040;
}

.aboutModal {
    text-align: justify;
    text-indent: 25px;
}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
	color:white;
}

/* 768px width make our own container else sm grid class screen */