<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>select data</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  
  <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body>
  <div ng-app="myapp" ng-controller="mycontroller" ng-init="selectCourse()">
    <div class="container">
   
    <div class="table-responsive">
      
      <table class="table">
        <thead>
          <tr>
            <th><label>Select Course</label></th>
            <th><label>Select Semester</label></th>
            <th><label>Select Section</label></th>
            <th><label>Select Subject</label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select ng-model="cour" ng-change="selectSemester(cour)">
                <option selected>Select Course</option>
                <option ng-repeat="a in course">{{a}}</option>
              </select>
            </td>
            <td>
              <select ng-model="sem" ng-change="selectSectionSubject(sem)">
                <option selected>Select Semester</option>
                <option ng-repeat="b in semester">{{b}}</option>
              </select>
            </td>
            <td>
              <select ng-model="sec">
                <option selected>Select Section</option>
                <option ng-repeat="c in section">{{c}}</option> 
              </select>
            </td>
            <td>
              <select ng-model="sub">
                <option selected>Select Subject</option>
                <option ng-repeat="d in subject">{{d}}</option>
              </select>
            </td>
          </tr>
        
        </tbody>
      
      </table>
    
    </div>
  </div>
  </div>

  <script type="text/javascript" src="selectdata.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>